{
    "presets": ["es2015-node4"],
    "plugins": [
        "transform-async-to-generator",
        "syntax-async-functions",
        "transform-class-properties",
        "transform-react-jsx",
        "transform-object-rest-spread",
        "add-module-exports"
    ]
}